[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
ollama = "*"
llama-index = "*"
tiktoken = "*"
faiss-cpu = "*"
arxiv = "*"
langchain-community = "*"
langchain-huggingface = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
